@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   padding: 0px;
   margin: 0px;
   scrollbar-width: none;
}
::-webkit-scrollbar {
   height: 0px;
   width: 0px;
}

.floating {
   animation-name: floating;
   animation-duration: 5s;
   animation-iteration-count: infinite;
   animation-timing-function: ease-in-out;
}

@keyframes floating {
   0% {
      transform: translate(0, -4px);
   }
   50% {
      transform: translate(0, 4px);
   }
   100% {
      transform: translate(0, -4px);
   }
}
